* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: lightblue;
}

.wrapper {
   width: auto;
   height: auto;
   background: white;
   padding: 20px;
   border-radius: 7px;
}

.wrapper p {
   margin: 10px 0 20px 0;  
}


form input {
   height: 40px;
   width: 100%;
   border-radius: 5px;
   padding: 0 5px;
   outline: none;
}

form button {
   margin-top: 5px;
   height: 40px;
   border-radius: 5px;
   width: 100%;
   font-size: 19px;
   background: lightblue;
   color: black;
   font-weight: 400;
}

form button:hover {
   cursor: pointer;
}

form input::placeholder {
   font-size: 15px;
